
version: '3.8'

services:

  mysql_db:
    image: mysql:8.0
    container_name: mysql_container
    restart: always
    environment:
      MYSQL_ROOT_PASSWORD: 1234
      MYSQL_DATABASE: cursosOnline
    ports:
      - "3307:3306"
    volumes:
      - mysql_data:/var/lib/mysql

  app:
    build: .
    container_name: springboot_container
    restart: always
    depends_on:
      - mysql_db
    ports:
      - "8080:8080"

volumes:
  mysql_data:
