
spring:
  application:
    name: cursos

  datasource:
    url: jdbc:mysql://mysql_db:3306/cursosOnline
    username: root
    password: 1234
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: update
      dialect: org.hibernate.dialect.MySQL8Dialect
    show-sql: true

server:
  port: 8080



